body {
  font-family: Lora;
  margin: 48px;
  background: #F5D0ED;
}

header {
  text-align: center;
  margin-bottom: 40px;
  color: black;
}

header h1 {
  font-size: 72px;
  letter-spacing: 2px;
  font-family: 'Lacquer';
}

header p {
  font-size: 24px;
  opacity: 0.8;
  font-family: 'Lacquer';
}

#Home img {
  max-width: 200px;
  height: 200px;
}

#Media img {
  max-width: 600px;
  height: 60%
}

.photo-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 600px;
}

.photo-gallery img:hover {
  transform: scale(3.00);
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 30px;
  border-bottom: 2px solid #e5e7eb;
  margin-bottom: 30px;
}

.tab-button {
  background: none;
  border: none;
  font-size: 18px;
  padding: 10px 0;
  cursor: pointer;
  color: #6b7280;
  position: relative;
  transition: color 0.2s;
}

.tab-button:hover {
  color: black;
}

.tab-button::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  background: #EC4899;
  left: 0;
  bottom: -2px;
  transition: width 0.3s;
}

.tab-button.active {
  color: black;
  font-weight: bold;
}

.tab-button.active::after {
  width: 100%;
}

.tab-content{
  display:none;
}

.tab-content.active{
  display:block;
}
